DATABASE_URL=postgresql://catena:catena@localhost:5432/catena
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_abcd1234
CLERK_SECRET_KEY=sk_test_abcd1234
CLERK_FRONTEND_API_URL=https://something-something-xx.clerk.accounts.dev
CATENA_GIT_ROOT=.catena/git